#header-menu .menu-item-inactive {
    color: #34495e;
}

#header-menu .menu-item-active {
    color: #F26322;
}

#header-menu {
    background-color: #F8F8F8;
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-menu a {
    color: white;
    margin: 0 5px;
}

.background-color {
    background-color: #2634426c;
    line-height: 125%;
}

.header-main-format {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center-image {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}